@font-face {
  font-family: "Olondon";
  src: url(OldFonts/Olondon_.otf);
}

body {
	background: #1D263B;
  color: #FFF;
  font-family: Olondon, monospace;
}

img {
  border: solid green;
}

a{
  color: #1D992B;
}

.title{
  color: green;
  font-weight: bold;
}

.list{
  background: #1D663B;
  border-radius: 10px;
}